// -- HEADER --
header {

  .dropdown_menu {
    position: absolute;
    top: 75%;
    right: 2rem;
    left: unset;

    min-width: unset;

    background-color: $_black;

    padding: .4em;
    border-radius: 1rem;

    i {
      color: $_white;
    }
  }

  nav.navbar-light {

    #logout_md {
      display: none;
    }

    // logo
    img {
      width: 8rem;
    }

    // hamburger menu
    button.navbar-toggler {
      background-color: $_primary;

      padding: .5rem .8rem;
      border: none;

      i {
        font-size: 1.4rem;

        color: $white;
      }
    }

    // dropdown
    #dropdown {
      display: flex;
      justify-content: space-between;
      padding: 1.4rem 0;

      a {
        border-radius: 1rem;

        button.btn {

          i {
            font-size: .8rem;
            color: $_white;
          }
        }
      }
    }
  }
}

// MEDIA QUERIES
@media screen and (min-width: 576px) {

  header {

    nav.navbar-light {

      #dropdown {

        a {
        
          button.btn {
            padding: .6rem 2rem;

            i {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

// MEDIA QUERIES
@media screen and (min-width: 768px) {

  header {

    nav.navbar-light {

      #dropdown {

        a {
        
          button.btn {
            padding: .6rem 3rem;

            i {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  header {

    nav.navbar-light {

      // icona deliveboo
      a.navbar-brand {
        
        img {
          width: 9rem;
        }
      }
      
      // hamburger button
      button.navbar-toggler {
        display: none;
      }

      // bottone lg logout
      #logout_md {
        display: block;
      }

      #navbarSupportedContent {
        display: none;
      }

    }
  }
}