// imports 

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "./variables";


// fonts family

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

// reset

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

