// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
// @import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

// -----------------------------------------------

// OUR STYLE

// Variables
@import 'variables';

// Mixins
@import 'mixins';

// macro
@import '/macro/header';
@import '/macro/footer';

// components
@import '/components/add-image-input';
@import '/components/aside';
@import '/components/buttons';
@import '/components/categories-checks';
@import '/components/form-inputs';
@import '/components/modal-delete';


// auth
@import '/auth/register_login';

// restaurant
@import '/restaurant/index';
@import '/restaurant/create_edit';

// dishes
@import '/dishes/index';
@import '/dishes/show';

// ------------------------------------------------

// COMMONS
* {
  font-family: 'IBM Plex Sans', sans-serif;

  &::selection {
    background-color: #00ccbb50;
  }
}

body {
  background-color: $_whiteSmoke;

  label, img {
    user-select: none;
  }
}

